In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_json("2022-03-04-spotify.json")

In [3]:
data["endTime"] = pd.to_datetime(data["endTime"], format='%Y-%m-%d %H:%M')
data["month"] = data["endTime"].dt.to_period("M")

In [4]:
pivot_1 = data.pivot_table(values="msPlayed", columns="month", index="artistName", fill_value=0.0, aggfunc=np.sum)
pivot_1 = pivot_1.loc[(pivot_1!=0).any(axis=1), "2021-06":"2021-12"]
pivot_1 = pivot_1.loc[pivot_1.sum(axis = 1).sort_values(ascending = False).index][:20]
pivot_1

month,2021-06,2021-07,2021-08,2021-09,2021-10,2021-11,2021-12
artistName,,,,,,,
Tristam,45759039,8384051,21082347,25976707,16338292,16198019,42075194
ILLENIUM,4864156,19632684,13338372,13629200,12611913,65877389,37353173
Sullivan King,29623495,27936175,7336617,8046804,19154626,16893357,13239254
Architects,24996171,38028417,24550736,13163429,3228658,3010222,4752912
Seven Lions,5490138,12008038,9797441,16467303,21611748,12679889,14283673
Ran-D,11482143,3221830,8057539,37073727,5117337,7111819,8872001
Au5,15261850,12903331,7057593,7005163,16422870,8544474,10268843
KUURO,0,170205,938110,449582,13357018,38426055,12393696
MUZZ,1797619,12794829,3593280,10608975,12817100,5236398,6404291
Kayzo,8444970,5745880,3031600,5188064,8898772,2778219,16818578
K Motionz,0,0,0,0,12166625,5289066,32601121
Beartooth,6044167,17343746,14978800,5433028,1260402,1815862,2993489
Dabin,5059057,1467570,843122,2335484,1217884,9005389,22682359
Trivecta,7466412,4807980,6681158,3919072,8289925,1436565,9309883
LANDMVRKS,5229315,3533432,19834715,5414825,2594427,1268722,1721048
MitiS,431241,1318181,278400,11763550,6203296,6339711,12077062
Wooli,0,283498,414688,0,18844885,9063420,7372893
Jason Ross,1403109,4145730,3146910,3803113,8989699,7056590,7223768
Brokensinner,8241943,2987637,4253107,9139762,6640735,2740288,1096367
ShockOne,440436,1195019,0,8689882,14707121,6872187,2879106

In [5]:
pivot_1.loc["Tristam":"Seven Lions"]

month,2021-06,2021-07,2021-08,2021-09,2021-10,2021-11,2021-12
artistName,,,,,,,
Tristam,45759039,8384051,21082347,25976707,16338292,16198019,42075194
ILLENIUM,4864156,19632684,13338372,13629200,12611913,65877389,37353173
Sullivan King,29623495,27936175,7336617,8046804,19154626,16893357,13239254
Architects,24996171,38028417,24550736,13163429,3228658,3010222,4752912
Seven Lions,5490138,12008038,9797441,16467303,21611748,12679889,14283673

In [6]:
pivot_1.mean(axis = "index")

month
2021-06     9101763.05
2021-07     8895411.65
2021-08     7460726.75
2021-09     9405383.50
2021-10    10523666.65
2021-11    11382182.05
2021-12    13320935.55
Freq: M, dtype: float64

In [7]:
pivot_1.mean(axis = "columns")

artistName
Tristam          2.511624e+07
ILLENIUM         2.390098e+07
Sullivan King    1.746148e+07
Architects       1.596151e+07
Seven Lions      1.319118e+07
Ran-D            1.156234e+07
Au5              1.106630e+07
KUURO            9.390667e+06
MUZZ             7.607499e+06
Kayzo            7.272298e+06
K Motionz        7.150973e+06
Beartooth        7.124213e+06
Dabin            6.087266e+06
Trivecta         5.987285e+06
LANDMVRKS        5.656641e+06
MitiS            5.487349e+06
Wooli            5.139912e+06
Jason Ross       5.109846e+06
Brokensinner     5.014263e+06
ShockOne         4.969107e+06
dtype: float64